*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
body{
	width: 100vw;
	height: 100vh;
	background: #ff4b1f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff9068, #ff4b1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-container{
	width: 80vw;
	margin: auto;
	border: 0.5px solid rgba(0, 0, 0, .5);
	margin-top: 5%;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 5%;
}
.header{
	height: 150px;
	margin-bottom: 30px;
	border-bottom: 1.5px solid grey;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
	margin: 0 auto;
}
.container-headersection{
	height: 50%;
	background: url("../img/montaña.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.nav-list{
	display: flex;
	padding: 1em;
	margin-right: 10px; 
}
#link-border{
	padding-right: 35px;
	border-right: 1.5px solid grey;
}
.nav-container__link{
	margin-right: 20px;
} 
.nav-container__link a{
	color: white;
	font-size: 18px;
	text-decoration: none;
	list-style: none;
	transition: 0.5s ease;
}
.a-effect:hover{
	transform: scale(3);
	padding: 0 5px;
}
.nav-container__link i{
	font-size: 18px;
	font-weight: bolder;
	color: orange;
}
.fa-search{
	margin-right: 50px;
}
#header-logoimg{
	width: 200px;
	height: 100px;
}
.first-section{
	height: 70vh;
	color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.first-section h1{
	font-size: 85px;
	margin-bottom: 30px;
}
.first-section p{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 25px;
}
.section-button{
	width: 160px;
	height: 50px;
	cursor: pointer;
	margin: 0 5px;
	color: white;
	padding: 1px;
	font-weight: bold;
}
#section-button__one{
	background-color: transparent;
	border: 1px solid white;

}
#section-button__one:hover{
	border: 2px solid yellow;
}
#section-button__two{
	background-color: #FF5733;
	border: 0.5px solid white;

}
#section-button__two:hover{
	border: 2px solid yellow;
}
.second-section{
	height: 50vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.users-container{
	margin-top: 20px;
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	text-align: center;
}
.users-container h4{
	font-size: 16px;
}
.users-container p{
	font-size: 14px;
}
.users-container i{
	font-size: 24px;
	color: #C70039;
	background-color: #D8D8D8;
	width: 70px;
	padding: 20px;
	border-radius: 35px; 
}
.users-container div{
	transition: 0.5s ease;
}
.users-container div:hover{
	transform: scale(1.2);
	padding: 0 2px;
}
footer{
	margin-bottom: 0;
	width: 100%;
	padding: 5px;
	text-align: center;
	color: #DC7633;
	background-color: #1B2631;
}
#menu-item{
	cursor: pointer;
	color: grey;
	display: none;
}
.container-headersection,
.first-section,
.second-section{
	overflow-y: hidden;
}
@media only screen and (max-width: 1300px) {
	.users-container{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 1144px) {
	.nav-list{
		display: none;
	}
	.nav-list.show{
		display: block;
		float: none;
	 	position: fixed;
	 	top: 7.5%;
		left: 10vw;
		height: 95%;
		background: rgba(192,192,192, 0.4);
		padding:0;
	}
	.nav-list.show li{
		margin-bottom: 20px;
	}
	#link-border{
		border: none;
	}
	#menu-item{
		display: inline;
	}
}